*{
    margin: 0;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}
header{
    width: 100%;
    height: 10vh;
    background:rgb(230, 230, 230);
    display: flex;
    justify-content: center;
}
.logo{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo div{
     width: 50px;
    height: 50px;
    background-color: rgb(59, 5, 59);
    border-radius: 100%;
   color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
 nav h1{
  
font-size: 45px;
}
nav{
    width: 82%;
    /* background-color: aqua; */

    display: flex;
justify-content: space-between;
align-items: center;

}
.ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:end;
    align-items:center ;
    gap: 25px;
}
ul{
    display: flex;
    gap: 40px;
    list-style:none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}

 .button button{
    padding: 10px;
   background-color: rgb(88, 10, 139);
   font-size: 20px;
   border-radius:10px;
   outline: none;
   border: 1px;
   color: white;
    
}
#first{
width: 100%;
height: 90vh;
background-color: rgb(187, 187, 187);
display: flex;
justify-content: center;
align-items: center;

}
.section1first{
    width: 41%;
    height: 85%;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6%;
}
.section1second{
    width: 41%;
    height: 85%;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
.section1first2{
    width: 100%;
    font-size: 20px;
}
.section1first3{
    width: 15%;
    height: 5%;
    background-color: purple;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1first4{
    width: 100%;
    height: 15%;
  background-color: white; 
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1first4_1{
    width: 33%;
    height: 100%;
    border: 1px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
#second{
    width: 100%;
    height: 80vh;
    background-color:rgb(187, 187, 187);
      display: flex;
    justify-content: center;
    align-items: center;
}
.sectionsecond_main{
    
    width: 84%;
    height: 550px;
    border-radius: 15px;
    margin-top: 10%;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px;
  
}
.second_first{
    width: 50%;
    height: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.boxes_2{
    height: 35%;
    background-color: aqua;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
}
.a1{
    width: 100%;
    height: 100%;
    border: 2px solid;
    background-color: blueviolet;
}
.second_second{
  width: 50%;
    height: 82%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
gap: 5%;
}

#third{
    width: 100%;
    height:100vh;
  background-color: rgb(228, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionthird_first{
    margin-top: 0%;
    width: 42%;
    height: 60%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
}
.sectionthird_second{
    gap: 2%;
    margin-top: 0%;
   width: 42%;
    height: 60%;  
    background-color:233, 230, 230;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionthird_secondfirst{
    width: 50%;
    height: 100%;
    background-color:233, 230, 230;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.aa{

    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color:rgb(255, 255, 255);
    border-radius:10px ;
    gap: 8%;
    box-shadow: 2px 2px 2px 2px;
    
}
.bb{
  width: 100%;
    height: 50%;
     display: flex;
     flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color:rgb(255, 255, 255);
    border-radius:10px ; 
     box-shadow: 2px 2px 2px 2px;
    gap: 8%; 
}
.sectionthird_secondsecond{
    margin-top: 15%;
  width: 50%;
    height: 100%;  
    /* background-color: rgb(233, 230, 230); */
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.cc{
   width: 100%;
    height: 50%;
     display: flex;
     flex-direction: column;
    align-items: left;
    justify-content: center;
    border-radius:10px ;
    background-color:rgb(255, 255, 255); 
     box-shadow: 2px 2px 2px 2px;   
    gap: 10%;
}
.dd{
     width: 100%;
    height: 50%;
     display: flex;
     flex-direction: column;
    align-items:left;
    justify-content: center;
    background-color:rgb(255, 255, 255); 
     box-shadow: 2px 2px 2px 2px; 
    border-radius:10px ;
    gap: 10%;
}
#fourth{
    width: 100%;
    height: 100vh;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.fourth_main{
    width: 100%;
    height: 100%;
   margin-top: 1%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    justify-content: center;
   
    
}
.fourth1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
.img{
    border: 2px solid;
    /* margin-top: 5px; */
}
.img1{
    grid-row-start:1 ;
    grid-row-end:3 ;
}
.img4{
    grid-row-start: 2;
    grid-row-end: 4;
}
.img img{
    width: 100%;
   height: 100%;
}
#section5{
    width: 100%;
    height: 20vh;
    background-color: rgb(165, 165, 165);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family ;
   
}
.footerpart_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7%;
}
.logofooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.footerimg img{
width: 50px;
height: 46px;
}
.spanfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .insta{
   font-size: 40px;
 }
 .fa-facebook-messenger{
    font-size: 35px;
 }
.fa-brands{
    font-size: 40px;
}